/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

body {
     border: 2px dotted rgb(141, 92, 173);
     font-family: 'Montserrat';
     padding: 20px;
     background-color: rgb(228, 209, 245);
}
.body-center {
     text-align: center;
}
.screens {
     display: block;
     text-align: center;
}
.box {
     width: 40%;
     background: rgba(0,0,0,0.2);
     padding: 20px;
     text-align: center;
     margin: auto;
     margin-top: 2.5%;
     color: white;
}
.index-text {
     margin-left: 30%;
     margin-right: 30%;
}
.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

@font-face {
     font-family: 'Montserrat';
     src: url(../fonts/Montserrat-Regular.ttf);
     font-style: normal;
     font-weight: 100;
 }